*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
    
    
}
body{
    background:rgb(9, 212, 134)
}
.card{
    
    width: 99%;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color:#fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    outline:0;

}
.search{
    width: 100%;
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.search input{
   border: 0;
   outline: 0;
   background: #ebfffc;
   color: #555;
   padding: 10px 25px;
   height:60px;
   border-radius: 30px;
   flex:1;
   margin-right: 16px;
   font-size: 18px;
    
}
.search button{
    border:0;
    outline:0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width:60px;
    cursor:pointer;
    font-size: larger;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col i{
font-size: 45px;
margin-left: 5px;
}
.col{
    display: flex;
    justify-content:center;
}
.weatherlogo i{
    font-size: 100px; 
    margin-top: 30px;
}
.future{
    margin-top: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background:linear-gradient(135deg,#57f4ca,#7468bf);
    border: 2px solid rgb(5, 5, 66);
    border-radius: 30px;
}
.d{
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.t{
    margin-top: 10px;
    margin-bottom: 10px;
}